#main_container {
    width: 80%;
    background-color: lightgray;
    padding: 20px;
    margin: 3em;
    margin-left: auto;
    margin-right: auto;
}
header, footer {
    text-align: center;
    padding: 45px;
    background-color: royalblue;
}

#middle-section {
    background-color: grey;
    padding: 10px;
}

#top-section {
    background-color: silver;
}

form {
   display: flex; 
   flex-direction: row;
   justify-content: space-evenly;
}

.input-size {
    width: 4em;
}

input{
    margin-left: auto;
    margin-right: auto;
}

#main-section {
    background-color: lightskyblue;
    padding: 10px;
}

#table-render-space {
    background-color: beige;
}

#table-html-space {
    background-color: darkorange;
}